<div class="container">

    <div class="row">
        <div class="col-md-12 my-5">
            <!--Section: Features v.2-->
            <section class="text-center">

                <!--Section heading-->

                <h2 class="h1 pb-5 font-weight-light primary-text"> What is Etherstan?


                </h2>




                <p class="px-5 mb-5 pb-3 lead grey-text">Etherstan is an Ethereum(ETH)<sup><i class="fas fa-trademark grey-text"></i></sup> blockchain platform that offers Etherstan Token services and Etherstan Citizenship.</p>
                <hr class="my-5">
                <!--Grid row-->
                <div class="row text-left">

                    <!--Grid column-->
                    <div class="col-md-6 mb-6">
                        <div class="col-1 col-md-2 float-left">
                            <i class="fas fa-file-signature blue-text"></i>
                        </div>
                        <div class="col-10 col-md-9 col-lg-10 float-right">
                            <h4 class="font-weight-bold">Etherstan Token</h4>
                            <p class="grey-text">Etherstan token is a decentralized application (Dapp) token made to be used in the Etherstan platfrom.</p>
                            <p class="grey-text">Don't have any tokens?</p>
                            <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" routerLink="/css" mdbWavesEffect>Enter to buy Etherstans tokens</a>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-6">
                        <div class="col-1 col-md-2 float-left">

                            <i class="fas fa-map-marker pink-text"></i>
                        </div>
                        <div class="col-10 col-md-9 col-lg-10 float-right">
                            <h4 class="font-weight-bold">Etherstan Citizenship</h4>
                            <p class="grey-text">Citizenship is the position or status of being a citizen of a particular country.</p>
                            <p class="grey-text">Ready to claim your citizenship in Etherstan? </p>
                            <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" routerLink="/components" mdbWavesEffect>Claim your Citizenship</a>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!-- 
                  
                    <div class="col-md-4 mb-4">
                        <div class="col-1 col-md-2 float-left">
                            <i class="fab fa-ethereum purple-text"></i>
                        </div>
                        <div class="col-10 col-md-9 col-lg-10 float-right">
                            <h4 class="font-weight-bold">Ethereum Blockchain</h4>
                            <p class="grey-text">Etherscan allows you to explore and search the Ethereum blockchain for transactions, addresses, tokens, prices and other activities taking place on Ethereum (ETH)</p>
                            <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" routerLink="/advanced" mdbWavesEffect>Explore More</a>
                        </div>
                    </div> <-->


                </div>


                <hr class="my-5">



            </section>
            <!--Section: Features v.2-->
        </div>
    </div>

</div>