<div class="container">


    <hr class="my-5">

    <!-- Simple form -->
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- <h4 class="text-center">Simple form</h4> -->
            <section class="form-simple">

                <!--Form with header-->
                <mdb-card>

                    <!--Header-->
                    <div class="header pt-3 bold lighten-2">

                        <!-- <div class="row d-flex justify-content-center">
                <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Log in</h3>
              </div> -->

                    </div>
                    <!--Header-->

                    <mdb-card-body class="mx-4 mt-4">

                        <!--Body-->
                        <form [formGroup]="registerForm">


                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="registerEmail" class="form-control" formControlName="registerEmail" mdbInputDirective>
                                <label for="registerEmail">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                                <input type="text" id="registerConfirmEmail" class="form-control" formControlName="registerConfirmEmail" mdbInputDirective>
                                <label for="registerConfirmEmail">Confirm Your email</label>
                            </div>

                            <div class="md-form pb-3">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="registerPassword" class="form-control" formControlName="registerPassword" mdbInputDirective>
                                <label for="registerPassword">Your password</label>

                            </div>

                        </form>

                        <div class="text-center mb-4">
                            <button default (click)="register()" type="submit" mdbBtn class="btn btn-outline-deep-purple" mdbWavesEffect mdbWavesEffect> <i class="fas fa-user"></i> Register</button>
                        </div>


                    </mdb-card-body>

                </mdb-card>
                <!--/Form with header-->

            </section>
        </div>
    </div>
    <!-- Simple form -->

    <hr class="my-5">


</div>